html body
{
	margin: 0;
}

.popupsearch
{
	position: fixed;
	width:100%;
	height: 5%;
	bottom: 0px;
	padding-left:3%;
	padding-right:3%;
	margin: 0;
	display: none;
}

.popupsearch input
{
	margin: 0;
	width:94%;
}

.systemplanet
{
	position: relative;
	border-radius: 100%;
	line-height: 50vw;
	border: solid;
	border-width: 0px;
	border-color: #DC9B74;
	display: table-cell;
	text-align: center;
	background: #DC9B74;
}




.listcontainer
{
	width: 94%;
	padding-left: 3%;
	padding-right: 3%;
}

.list_title
{
	text-align: center;
}

.listrow
{
	display: table;
	width: 100%;
	height: 47w;
	table-layout: fixed;
}

.planet_container
{
	display: table-cell;
	display: block;
	content: "";
	width: 100%;
	height: 100%;
}

.systemplanet span
{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.systemplanet .id
{
	display: none;
}
