<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
	<link href='/css/toastr.min.css' rel='stylesheet'>
</head>

<body>
	<div class='header'>
		<div><a href='/system'><button id='cancel'>Cancel</button></a></div>
		<div><a href='/system'><button id='done'>Done</button></a></div>
	</div>

	<div class='midfield'>
		<canvas width='100%' height='100%'></canvas>
	</div>

	<div class='footer'>
		<div><button id='undo'>Undo</button></div>
		<div><button id='color'>Color</button></div>
		<div><button id='style'>Style</button></div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src='js/toastr.min.js'></script>
	<script src='js/draw.js'></script>
</body>

</html>
