<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
</head>

<body>
	<div class="center">
		<p>
			Edit System [name]
		</p>
		<a href='/textedit'><button>Edit Text</button></a><br/>
		<a href='/drawedit'><button>Edit Image</button></a><br/>
		<a href='/system'><button>Remove Text</button></a><br/>
		<a href='/system'><button>Remove Image</button></a><br/>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
