<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
	<link href='/css/toastr.min.css' rel='stylesheet'>
</head>

<body>
	<div class="center">
		<p>
			Welcome to Catchi/Ideorbit!
		</p>
		<p>
			LOGO HERE
		</p>
		<form method='none'>
			<table align='center'>
				<tr>
					<td><input type='text' id='email' name='e-mail'/></td>
					<td>E-mail</td>
				</tr>
				<tr>
					<td><input type='password' id='pass' name='pass'/></td>
					<td>Password</td>
				</tr>
			</table>
			<input type='button' id='register' name='Register' value='Register'/><br/>
			<input type='button' id='login' name='Login' value='Log-In'/>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src='js/toastr.min.js'></script>
	<script src='js/login.js'></script>
</body>
</html>
