<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
</head>

<body>
	<div class="welcome">
		WELCOME TO OUR SWEET WEBAPP
	</div>
	<div class="footer">
		I HAVE TEXT TOO
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
