<!doctype html>

<html>
<head>
	<title>Ideorbit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
	<link href='/css/toastr.min.css' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
</head>

<body >
	
	<div class="center">
		<div id="splashscreen" >
	    	
	    	<img src="/logo/catchi_logo.jpg" />
	    	<h3><span style="color:#78AD66">Catchi</span></h3>
	    	<h5>Never lose a great idea!</h5>

	    </div>

	</div>	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src='js/login.js'></script>
</body>
</html>
