<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
	<link href="/css/list.css" rel="stylesheet">
</head>

<body>

<div class='listcontainer'>
</div>

<div class='popupsearch'>
	<input type='text' id='searchbar'></input>
</div>
<div class='footer'>
	<div><button id='search'>Search</button></div>
	<div><a href='/system'><button>New</button></a></div>
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src='js/search.js'></script>
</body>

</html>

