<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
</head>

<body>

<div class='footer'>
	<div><a href='/search'><button>Search</button></a></div>
	<div><a href='/system'><button>New</button></a></div>
</div>
</body>

</html>

