<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
	<link rel="stylesheet" 	href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"/>
    <script src="js/search-filter.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
   
</head>

<body>
	/*<div class="center">
		<script>
  		(function() {
    	var cx = '006305884490723534363:glwq1x8c_v8';
    	var gcse = document.createElement('script');
    	gcse.type = 'text/javascript';
    	gcse.async = true;
    	gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    	var s = document.getElementsByTagName('script')[0];
    	s.parentNode.insertBefore(gcse, s);
  		})();
		</script>
	<gcse:search></gcse:search>
	
	</div>*/
	<div data-role="page">
	<div data-role="content">
            
            <ul data-role="listview" data-filter="true">
                <li>
                    <h2>HTML5 Multimedia: Using Video with Canvas</h2>
                    <p>In addition to native multimedia, one of the most talked about
                       capabilities that HTML5 brings to the web table is the ability
                       to draw and manipulate graphics using JavaScript via the new
                       canvas element. The element defines an area on a web page that
                       you can draw on using a JavaScript API. Ian Devlin shows you
                       how to use it.</p>
                    <p><a href="http://www.peachpit.com/articles/article.aspx?p=1760497">Read more</a></p>
                <li>
                    <h2>The Inspiration Bookshelf: The Best Books for Design, Learning
                        and User Experience</h2>
                    <p>Julie Dirksen, author of Design For How People Learn, shares
                       her "Inspiration Bookshelf" for designers, listing books and
                       websites that are special, not only in the content, but also
                       in the way that they were written and designed.</p>
                    <p><a href="http://www.peachpit.com/articles/article.aspx?p=1907487">Read more</a></p>
                </li>

            </ul>

             
            
        </div>
     </div>
    

 


	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>
