<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
</head>

<body>

<div class='footer'>
	<div><button>Back</button></div>
	<div><button>Search</button></div>
	<div><button>List</button></div>
	<div><button>Edit</button></div>
	<div><button>New</button></div>
</div>
</body>

</html>
