<!doctype html>

<html>
<head>
	<title>Ideorbit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
	<link href='/css/toastr.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- //Jesse's circle -->
  <meta charset="utf-8">
	<title>Test</title>
	<link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">

</head>
<body>

	<div class="orbit" id= 'circ'>
			<div class="orbit-content">
					<!--  commented out text from our old hardcoded planets (on different corners of the circle)-->
					<!-- <div class="corner-0 vertical-center-text unselectable" style="display:none;"></div>
					<div class="corner-1 vertical-center-text unselectable" style="display:none;"></div>
					<div class="corner-2 vertical-center-text unselectable" style="display:none;"></div> -->
					<!-- <div class="planet-wrapper"><div class="planet vertical-center-text unselectable"></div></div>
				  PlANET WRAPPER -->
					<div class="planet-wrapper2">
						<div class="planet2 vertical-center-text unselectable" data-toggle='modal' data-target='#myModal'>
							+
						</div>
					</div>

					<div class="corner-3 vertical-center-text unselectable" data-toggle='modal' data-target= '#myModal'>+</div>
					<div class="middle vertical-center-text unselectable"></div>
			</div>
	</div>

 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><a id='modal-tab-text' href='#'>Text
					Editor</a> | <a id='modal-tab-color' href='#'>Color Editor</a></h4>
        </div>
        <div class="modal-body">
					<div id='modal-text-edit'>
						<p>Title<br/>
						<input type='text' id='modal-title-input' value='{{ideas.0.name}}' style='width:100%'></textarea>
						</p>
						<p>
							Content<br/>
						<textarea id='modal-body-input' style='width:100%; resize: none'>{{ideas.0.body}}</textarea>
						</p>
					</div>
					<div id='modal-color-edit' style='display:none;'>
						<p>Color<br/>
						<div class='color-slider unselectable' style='width: 100%; background:
						transparent -moz-linear-gradient(left center , rgb(255, 0, 0),
						rgb(255, 42, 0), rgb(255, 85, 0), rgb(255, 127, 0), rgb(255, 170,
						0), rgb(255, 212, 0), rgb(255, 255, 0), rgb(212, 255, 0), rgb(169,
						255, 0), rgb(127, 255, 0), rgb(84, 255, 0), rgb(42, 255, 0), rgb(0,
						255, 0), rgb(0, 255, 42), rgb(0, 255, 84), rgb(0, 255, 127), rgb(0,
						255, 169), rgb(0, 255, 212), rgb(0, 255, 254), rgb(0, 212, 255),
						rgb(0, 169, 255), rgb(0, 127, 255), rgb(0, 85, 255), rgb(0, 42,
						255), rgb(0, 0, 255), rgb(42, 0, 255), rgb(85, 0, 255), rgb(127, 0,
						255), rgb(170, 0, 255), rgb(212, 0, 255), rgb(254, 0, 255),
						rgb(255, 0, 212), rgb(255, 0, 169), rgb(255, 0, 127), rgb(255, 0,
						85), rgb(255, 0, 42), rgb(255, 0, 0)) repeat scroll 0% 0%;'>
						<input type='range' min='0' max='360' id='modal-selected-color'></input>
						</div>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
						style="float: left;" id='close-btn'>Close</button>
						<button type="button" class="btn btn-default"
						data-dismiss="modal" id='save-btn'>Save</button>
					</div>
				</div>
      </div>
    </div>
  </div>

<div class='footer'>
	<p><button id='back'> <span class="glyphicon
	glyphicon-arrow-left"></span>&nbsp;Parent</button></p>
	<div><a href='/list'><button><span class="glyphicon
	glyphicon-home"></span>&nbsp;List/Home</button></a></div>
	<div><button id='new'><span class="glyphicon
	glyphicon-plus-sign"></span>&nbsp;New</button></div>
</div>

	<script>var viewme={{viewme}}</script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src='/js/toastr.min.js'></script>
	<script src='/js/system.js'></script>
</body>

</html>
