<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
	<link href='/css/toastr.min.css' rel='stylesheet'>
</head>

<body>

<canvas id='circ_canv'>
</canvas>

<div class='footer'>
	<div><button id='back'>Back</button></div>
	<div><a href='/search'><button>Search</button></a></div>
	<div><a href='/list'><button>List</button></a></div>
	<div><a href='/edit'><button>Edit</button></a></div>
	<div><button id='new'>New</button></div>
</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src='js/toastr.min.js'></script>
	<script src='js/system.js'></script>
</body>

</html>
