<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
	<link href='/css/toastr.min.css' rel='stylesheet'>

	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>

	<section class="clearfix">

		<ul class="solarsystem">
		  <li class="sun"><a href="#sun"><span>Sun</span></a></li>
		  <li class="mercury"><a href="#mercury"><span>Mercury</span></a></li>
		  <li class="venus"><a href="#venus"><span>Venus</span></a></li>
		  <li class="earth"><a href="#earth"><span>Earth<span class="moon"> &amp; Moon</span></span></a></li>
		  <li class="mars"><a href="#mars"><span>Mars</span></a></li>
		  <li class="asteroids_meteorids"><span>Asteroids &amp; Meteorids</span></li>
		  <li class="jupiter"><a href="#jupiter"><span>Jupiter</span></a></li>
		  <li class="saturn"><a href="#saturn"><span>Saturn &amp; <span class="ring">Ring</span></span></a></li>
		  <li class="uranus"><a href="#uranus"><span>Uranus</span></a></li>
		  <li class="neptune"><a href="#neptune"><span>Neptune</span></a></li>
		  <li class="pluto"><a href="#pluto"><span>Pluto</span></a></li>
		</ul>

		<ul id="descriptions">
			

	</section>










<div style='position:absolute;width:90%; height:90%;'>
  <div class='planet_title'>
    {{name}}
  </div>
	<div class='center_circle' id='circ' style='border-color:#{{color}}'>
		<div>
			{{sysclip body}}
		</div>
	</div>
</div>

<div class='footer'>
	<p><button id='back'> <span class="glyphicon glyphicon-arrow-left"></span></button></p>
	<div><a href='/list'><button><span class="glyphicon glyphicon-th"></span></button></a></div>
	<div><button id='new'><span class="glyphicon glyphicon-plus-sign"></span></button></div>
</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src='js/toastr.min.js'></script>
	<script src='js/system.js'></script>
</body>

</html>
