<!doctype html>

<html>
<head>
	<title>Catchi/Ideorbit</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/base.css" rel="stylesheet">
	 <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  	<script>tinymce.init({ selector:'textarea' });</script>
</head>

<body>
	<div class='header'>
		<div><a href='/system'><button class="btn btn-default" id='cancel'><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>Cancel</button></a></div>
		<div><a href='/system'><button class="btn btn-default " id='done'>Done</button></a></div>
	</div>

	<div class='midfield'>
		<textarea>Easy (and free!) You should check out our premium features.</textarea>
	</div>

	<!-- <div class='footer'>
		<div><button id='undo'>Undo</button></div>
		<div><button id='color'>Color</button></div>
		<div><button id='style'>Style</button></div>
	</div> -->
</body>

</html>
